body {

    padding: 0px;
   
    margin: 0px; 
   
   }
   
   
   
   #title-bar {
   
    -webkit-app-region: drag;
   
    height: 24px; 
   
    background-color: rgb(247, 190, 102);
   
    padding: none;
   
    margin: 0px; 
   
   }
   
   
   
   #title {
   
    position: fixed;
   
    top: 0px;
   
    left: 6px; 
   
   }
   
   
   
   #title-bar-btns {
   
    -webkit-app-region: no-drag;
   
    position: fixed;
   
    top: 0px;
   
    right: 6px;
   
   }